<table class="l" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr class="l-top">
        <td width="20" class="l-top-l">&nbsp;</td>
        <td class="l-top-c">&nbsp;</td>
        <td width="20" class="l-top-r">&nbsp;</td>
    </tr>
    <tr class="l-img">
        <td class="l-img-c" colspan="3">
            <img src="{{banner_src}}" width="560" height="280" alt="{{banner_alt}}" />
        </td>
    </tr>
    <tr class="l-main">
        <td width="20" class="l-main-l">&nbsp;</td>
        <td class="l-main-c">
            <table width="520" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr class="l-dec">
                    <td class="l-dec-c" colspan="3">
                        <img src="{{decor_src}}" width="520" height="20" alt="{{decor_alt}}" />
                    </td>
                </tr>
                <tr class="l-body">
                    <td width="40" class="l-body-l">&nbsp;</td>
                    <td class="l-body-c">
                        <p class="lead-text">
                            {{body_title}}
                        </p>

                        {{{body_text}}}

                        {{> button main_button}}
                    </td>
                    <td width="40" class="l-body-r">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td width="20" class="l-main-r">&nbsp;</td>
    </tr>
    <tr class="l-hr">
        <td width="20" class="l-hr-l">&nbsp;</td>
        <td class="l-hr-c">&nbsp;</td>
        <td width="20" class="l-hr-r">&nbsp;</td>
    </tr>
    <tr class="l-foot">
        <td class="l-foot-c" colspan="3">
            {{{footer_text}}}
        </td>
    </tr>
</table>